In [6]:
salary = int(input("Enter Salary :"))
if(salary>12000):
    print('Yes Salalry is Greater than 12000')
else:
    print('salary is less than 12000')

Enter Salary :3000
salary is less than 12000

In [7]:
my_list = [1,2,3]
for item_name in my_list:
    print(item_name)

1
2
3

In [9]:
my_list = [1,2,3,4,5]
for num in my_list:
    print('value of num is {}:'.format(num))

value of num is 1:
value of num is 2:
value of num is 3:
value of num is 4:
value of num is 5:

In [11]:
my_list = [1,2,3,4,5]
for num in my_list:
    print('value of num is %d:'%num)

value of num is 1:
value of num is 2:
value of num is 3:
value of num is 4:
value of num is 5:

In [12]:
mystring = 'Hello'
for num in mystring:
    print(num)

H
e
l
l
o

In [14]:
#Iteration Over Tuple
my_list = [(1,2),(3,4),(5,6)]
for num in my_list:
    print(num)

(1, 2)
(3, 4)
(5, 6)

In [18]:
#Iteration Over Dictionay
mydict = {'k1':'cat','k2':'rat','k3':'dog'}
for num in mydict.values():
    print(num)

cat
rat
dog

In [19]:
x,y,z = 10,20,30
print(x)
print(y)

10
20

In [21]:
x = 10
y = 20
x,y = y,z 
print('x {}'.format(x))

10
20
30

In [62]:
for num in range(1,6):
    print(num)

1
2
3
4
5

In [59]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for i in mylist:
    if i%2 == 0:
        print ("EVEN NUMBER:%d "%i)
    else:
        print("ODD NUMBER:%d "%i)

ODD NUMBER:1
EVEN NUMBER:2
ODD NUMBER:3
EVEN NUMBER:4
ODD NUMBER:5
EVEN NUMBER:6
ODD NUMBER:7
EVEN NUMBER:8
ODD NUMBER:9
EVEN NUMBER:10

In [25]:
thelist = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in thelist :
    total = total + i
print(total)

55

In [30]:
x = 0
while x < 4:
    print ('Value of x is :',x)
    x+=1
else:
    print('All done')

Value of x is : 0
Value of x is : 1
Value of x is : 2
Value of x is : 3
All done

In [31]:
fruits = ["apple","banana","Cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
Cherry

In [32]:
fruits = ["apple","banana","Cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [37]:
x =0
while x < 10:
    print('x is currently:',x)
    print('x is still less than 10, adding 1 to x')
    x+=1
    if x == 3:
        print('Breaking because x == 3')
        break
    else:
        print('To be Continue....')
        continue

x is currently: 0
x is still less than 10, adding 1 to x
To be Continue....
x is currently: 1
x is still less than 10, adding 1 to x
To be Continue....
x is currently: 2
x is still less than 10, adding 1 to x
Breaking because x == 3

In [46]:
print(list(range(1,10)))
print(list(range(0,11,2)))
print(list(range(55,100,5)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10]
[55, 60, 65, 70, 75, 80, 85, 90, 95]

In [48]:
#Use of Enumurator Operator
index_count = 0
for letter in 'abcde':
    print('At index{} the letter is {}'.format(index_count,letter))
    index_count +=1
print(list(enumrate('abcde')))

At index0 the letter is a
At index1 the letter is b
At index2 the letter is c
At index3 the letter is d
At index4 the letter is e

NameError: name 'enumrate' is not defined

In [1]:
#ZIP function create list of tuple
mylist1 = [1,2,3,4,5]
mylist2 = ['alex','bruce','charles','dante','esper']
aa = list(zip(mylist1,mylist2))
print(aa)
print(type(aa))
print(type(aa[0]))

[(1, 'alex'), (2, 'bruce'), (3, 'charles'), (4, 'dante'), (5, 'esper')]
<class 'list'>
<class 'tuple'>

In [2]:
#in operator checks  presence of element in list
print('x' in ['x','y','z'])
print('x' in ['a','b'])

True
False

In [3]:
#min , max operator

mylist = [10,20,30,40,100]
print(min(mylist))
print(max(mylist))

10
100

In [7]:
#input function

input('Enter Your Name in this Box:')

Enter Your Name in this Box:ALEX

'ALEX'

In [11]:
#random Function

from random import randint
randint(0,100)# return random number from 0 to 100

87

In [12]:
#GRab Every letter in String
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']

In [17]:
#Square numbers in range and turn into list
lst1 = [x**2 for x in range(0,11)]
lst1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
#check for even numbers in a range
lst2 = [x for x in range(11) if x%2 == 0]
lst2

[0, 2, 4, 6, 8, 10]

In [21]:
#convert celsius to fahrenheit
celcius =[0,10,20.1,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [22]:
#Nested list comprehensions

lst3 = [x**2 for x in [x**2 for x in range(11)]]
lst3

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]