In [7]:
x =3
y = 3
x**y

27

In [2]:
x//y

3

In [3]:
x ^= 3

In [4]:
x

8

In [15]:
x = 3
x = x & 3
print(x)

3

In [8]:
x

3

In [16]:
x = 3
y = 2

x == y

False

In [18]:
x = 11
x < 5 and  x < 10

False

In [20]:
x = 4 > 5
print(x)
print(type(x))

False
<class 'bool'>

In [22]:
x = not(x < 5 and  x < 10)
print(x)
print(type(x))

True
<class 'bool'>

In [23]:
x = 13
if x is not(x < 5 and  x < 10):
    print(x)
else:
    print('NONE')

13

In [44]:
x = {}
y = {}

x is y

False

In [40]:
x = [10,20,30,40]
y = ['APPLE','MANGO','SNEHAL']

'SNEHAL' in y

True

In [42]:
lst = {'mango','apple','banana'}
x ='mango'
print(x in lst)

True

In [46]:
x = 'ALEX IS ALEX'
print(x.capitalize())
print(x.casefold())
print(x.count)

Alex

TypeError: casefold() takes no arguments (1 given)

In [47]:
x = 'ALEX IS ALEX'
x.casefold()

'alex is alex'

In [50]:
"""
THIS IS A COMMENT 
wrtten in 
multilines
"""

'\nTHIS IS A COMMENT \nwrtten in \nmultilines\n'

In [51]:
x = 'ALEX IS ALEX'
x.count('ALEX')

2

In [52]:
x = 'ALEX IS ALEX'
x.zfill(33)

'000000000000000000000ALEX IS ALEX'

In [53]:
firstString = "abc"
secondString = "ghi"
thirdString = "ab"

string = "abcdef"

translation = string.maketrans(firstString, secondString, thirdString)

In [54]:
translation

{97: None, 98: None, 99: 105}

In [55]:
print("Translated string:", string.translate(translation))

Translated string: idef

In [65]:
string1.maketrans('x','y','z')

{120: 121, 122: None}

In [ ]:
list = [1,2,3]
tuples = ()