In [1]:
import numpy as np

x = [2,5,1,3,4,1,5,3,4,2]
y = [50,57,41,54,54,38,63,48,59,46]

print('coviarience',np.cov(x,y)[0][1])

coviarience 11.0

In [2]:
np.corrcoef(x,y)

array([[1.        , 0.93049058],
       [0.93049058, 1.        ]])

In [4]:
#usinf dataframes 

import pandas as pd

df = pd.DataFrame({'exp_advertisement':x, 'sales-revenue':y})
df

   exp_advertisement  sales-revenue
0                  2             50
1                  5             57
2                  1             41
3                  3             54
4                  4             54
5                  1             38
6                  5             63
7                  3             48
8                  4             59
9                  2             46

In [7]:
df['exp_advertisement'].cov(df['sales-revenue'])

11.0

In [8]:
df['exp_advertisement'].corr(df['sales-revenue'])

0.9304905807411791

In [9]:
#for all the columns
df.cov()

                   exp_advertisement  sales-revenue
exp_advertisement           2.222222      11.000000
sales-revenue              11.000000      62.888889

In [10]:
df.corr()

                   exp_advertisement  sales-revenue
exp_advertisement           1.000000       0.930491
sales-revenue               0.930491       1.000000

In [15]:
x1 = [30,50,40,55,30,25,60,25,50,55]
y1 = [28,25,25,23,30,32,21,35,26,25]

print('coviarience',np.cov(x1,y1)[0][1])

coviarience -52.77777777777777

In [16]:
np.corrcoef(x1,y1)

array([[ 1.        , -0.91036938],
       [-0.91036938,  1.        ]])