In [1]:
import pandas as pd

x1 = [100,120,60]
y1 = [350,200,90]

df1 = pd.DataFrame({'men': x1, 'women': y1})
df1

   men  women
0  100    350
1  120    200
2   60     90

In [4]:
df2 = df1.T
df2

         0    1   2
men    100  120  60
women  350  200  90

In [6]:
df2.columns = ['Chocolate','Vanalina','Strawberry']
df2

       Chocolate  Vanalina  Strawberry
men          100       120          60
women        350       200          90

In [12]:
from scipy import stats
#display  chi-SQ value,p-value,degree of freeedom

stats.chi2_contingency(df2)[0:3]

(28.362103174603167, 6.938211717057744e-07, 2)