In [1]:
#Simple Linear Regression for boston dataset

import pandas as pd
import numpy as np

from sklearn import linear_model
from sklearn import datasets
from sklearn.model_selection import train_test_split
data = datasets.load_boston()
print(data.DESCR)
df = pd.DataFrame(data.data, columns = data.feature_names)
print(df.head())
target = pd.DataFrame(data.target,columns=['MEDV'])
print(target)
print('NUM in RM',df[df['RM'].isnull()])#chek if there are NULL in the column 
print('NUM in MEDV',target[target['MEDV'].isnull()])

X= pd.DataFrame(df['RM'])
y = pd.DataFrame(target['MEDV'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

   PTRATIO       B  LSTAT
0     15.3  396.90   4.98
1     17.8  396.90   9.14
2     17.8  392.83   4.03
3     18.7  394.63   2.94
4     18.7  396.90   5.33
     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]
NUM in RM Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT]
Index: []
NUM in MEDV Empty DataFrame
Columns: [MEDV]
Index: []

In [2]:
data

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': 'C:\\Users\\Asus 1\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'}

In [3]:
print(df.isnull().values.any())

False

In [4]:
X = pd.DataFrame(df['RM'])
y= pd.DataFrame(target['MEDV'])
lm = linear_model.LinearRegression()
model = lm.fit(X,y)
print('coeficent',lm.coef_)
print('Intercept',lm.intercept_)
print('R square',lm.score(X,y))

coeficent [[9.10210898]]
Intercept [-34.67062078]
R square 0.4835254559913343

In [5]:
#split the data in 80/20 proportion
X_train ,X_test, y_train, y_test = train_test_split(X,y,test_size =0.2, random_state = 0)

In [6]:
print('○ X : ',X.shape)
print("X_train :",X_train.shape)
print("X_test : ",X_test.shape)
print('\n○ y : ',y.shape)
print("y_train :",y_train.shape)
print("y_test: ",y_test.shape)

○ X :  (506, 1)
X_train : (404, 1)
X_test :  (102, 1)

○ y :  (506, 1)
y_train : (404, 1)
y_test:  (102, 1)

In [7]:
X_train ,X_test, y_train, y_test = train_test_split(X,y,test_size =0.2, random_state = 0)

In [8]:
X_train.head(10)

        RM
220  6.951
71   5.961
240  6.897
6    6.012
417  5.304
366  4.963
502  6.120
302  6.495
157  6.943
408  5.617

In [9]:
X_test.head()

        RM
329  6.333
371  6.216
219  6.373
403  5.349
78   6.232

In [10]:
X_train ,X_test, y_train, y_test = train_test_split(X,y,test_size =0.2, random_state =0)

In [11]:
X_train.head()

        RM
220  6.951
71   5.961
240  6.897
6    6.012
417  5.304

In [12]:
print(type(y_train))
print(type(y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [13]:
print(y_test.head())

     MEDV
329  22.6
371  50.0
219  23.0
403   8.3
78   21.2

In [14]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
print('coeficent',lm.coef_)
print('Intercept',lm.intercept_)
print('R square',lm.score(X_train,y_train))

y_pred = lm.predict(X_test)
print('y_pred : ',y_pred[0:5])

coeficent [[9.37638431]]
Intercept [-36.47618963]
R square 0.4970800097843844
y_pred :  [[22.90445223]
 [21.80741526]
 [23.2795076 ]
 [13.67809006]
 [21.95743741]]

In [15]:
print(type(y_train))
print(type(y_test))
print(type(y_pred))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

X = pd.DataFrame(df[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX','PTRATIO', 'B', 'LSTAT']])
y= pd.DataFrame(target['MEDV'])
lm = linear_model.LinearRegression()
model = lm.fit(X,y)
print('coeficent',lm.coef_)
print('Intercept',lm.intercept_)
print('R square',lm.score(X,y))

X_train ,X_test, y_train, y_test = train_test_split(X,y,test_size =0.2, random_state =50)

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
print('coeficent',lm.coef_)
print('Intercept',lm.intercept_)
print('R square',lm.score(X_train,y_train))

In [16]:
from sklearn import metrics
import numpy as np

print('Mean Absolute Error : ', metrics.mean_absolute_error(y_test,y_pred,multioutput='uniform_average'))
print('Mean Squared Error : ', (metrics.mean_squared_error(y_test,y_pred)))
print('Root Mean Absolute Error : ', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Error :  4.324740740011389
Mean Squared Error :  46.907351627395315
Root Mean Absolute Error :  6.848894190115315

In [17]:
def mean_absolute_error(y_test,y_pred):
    y_true,y_pred = np.array(y_test),np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred)/y_test))*100

print(mean_absolute_error(y_test,y_pred))

MEDV    23.86337
dtype: float64

In [18]:
def rmspe(s,p):
    l = np.sqrt(np.mean(np.square((s-p)/s)))
    return l

print(rmspe(y_test,y_pred))

MEDV    0.414642
dtype: float64

In [19]:
from sklearn.metrics import mean_squared_error 
import math

def rmse(test,pred):
    a=np.sqrt(mean_squared_error(test,pred)) 
    print('Root Mean Squared Error(RMSE):%1.2f'%a)
    return a

def mape(test,pred):
    m=np.mean(np.abs((test-pred)/test))
    print('Mean Absolute Percentage Error(MAPE):%1.2f'%m)
    return m

def rmspe(test,pred):
    m=np.sqrt(np.mean(np.square((test-pred)/test)))
    print('Root Mean Squared Percentage Error(RMSPE):%1.3f'%m)
    return m

In [20]:
print(rmse(y_test,y_pred))
print(mape(y_test,y_pred))
print(rmspe(y_test,y_pred))

Root Mean Squared Error(RMSE):6.85
6.848894190115315
Mean Absolute Percentage Error(MAPE):0.24
MEDV    0.238634
dtype: float64
Root Mean Squared Percentage Error(RMSPE):0.415
MEDV    0.414642
dtype: float64

In [21]:
xxx =[a for a in X_test['RM']]
print(xxx)

yyy =[a for a in y_test['MEDV']]
print(yyy)

[6.333, 6.216, 6.373, 5.349, 6.232, 5.834, 5.905, 5.968, 4.973, 6.405, 5.957, 6.657, 6.341, 4.652, 7.802, 7.041, 6.242, 7.287, 6.546, 5.85, 6.426, 5.88, 6.127, 6.482, 5.682, 3.863, 5.965, 5.709, 8.069, 6.092, 6.185, 6.081, 6.226, 6.095, 6.416, 5.803, 5.987, 5.875, 6.348, 6.162, 6.127, 5.786, 6.144, 5.427, 6.54, 6.421, 5.79, 6.129, 4.903, 6.727, 6.152, 5.67, 5.981, 8.259, 5.757, 5.889, 5.706, 5.898, 5.757, 5.96, 5.884, 6.113, 6.982, 6.552, 5.713, 6.556, 6.655, 6.377, 6.852, 5.891, 6.279, 6.286, 6.29, 6.874, 6.75, 5.0, 8.247, 6.326, 6.417, 5.794, 6.606, 6.454, 5.608, 8.266, 8.725, 6.312, 6.163, 5.837, 6.51, 6.051, 5.888, 6.629, 6.108, 6.871, 6.03, 6.108, 4.138, 6.383, 6.525, 5.741, 6.375, 6.474]
[22.6, 50.0, 23.0, 8.3, 21.2, 19.9, 20.6, 18.7, 16.1, 18.6, 8.8, 17.2, 14.9, 10.5, 50.0, 29.0, 23.0, 33.3, 29.4, 21.0, 23.8, 19.1, 20.4, 29.1, 19.3, 23.1, 19.6, 19.4, 38.7, 18.7, 14.6, 20.0, 20.5, 20.1, 23.6, 16.8, 5.6, 50.0, 14.5, 13.3, 23.9, 20.0, 19.8, 13.8, 16.5, 21.6, 20.3, 17.0, 11.8, 27.5, 15.6, 23.1, 24.3, 42.8, 15.6, 21.7, 17.1, 17.2, 15.0, 21.7, 18.6, 21.0, 33.1, 31.5, 20.1, 29.8, 15.2, 15.0, 27.5, 22.6, 20.0, 21.4, 23.5, 31.2, 23.7, 7.4, 48.3, 24.4, 22.6, 18.3, 23.3, 17.1, 27.9, 44.8, 50.0, 23.0, 21.4, 10.2, 23.3, 23.2, 18.9, 13.4, 21.9, 24.8, 11.9, 24.3, 13.8, 24.7, 14.1, 18.7, 28.1, 19.8]

In [22]:
y_pred_list
y_pred22 =[]
for m in y_pred_list:
    
    for n in m:
        y_pred22.append(n)
y_pred22

NameError: name 'y_pred_list' is not defined

In [ ]:
df200 = pd.DataFrame({'X_test':xxx,'Y_test':yyy, 'Y_pred':y_pred22})
df200

In [ ]:
import matplotlib.pyplot as plt

x = df200['X_test']
y = df200['Y_Test']

plt.scatter(x, y, c='coral')

x = df200['X_test']
y = df200['Y_Pred']

plt.scatter(x, y, c='lightblue')

plt.title('Nuage de points avec Matplotlib')
plt.xlabel('x')
plt.ylabel('y')
plt.savefig('ScatterPlot_05.png')
plt.show()

In [ ]:
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(8,8))
tips = df200
ax = sns.scatterplot(x="X_test", y="Y_test",data= tips)

ax = sns.scatterplot(x="X_test", y="Y_pred",data= tips)