In [86]:
import pandas as pd
import numpy as np
titanic=pd.read_excel('titanic3.xls')

In [87]:
titanic['pclass'].fillna(2,inplace=True)
titanic['survived'].fillna(0,inplace=True)
titanic['age'].fillna(29,inplace=True)
titanic['sibsp'].fillna('0',inplace=True)
titanic['parch'].fillna('0',inplace=True)
titanic['body'].fillna('160',inplace=True)
titanic['fare'].fillna('33',inplace=True)
titanic['name'].fillna('sasa',inplace=True)
titanic['ticket'].fillna('0',inplace=True)
titanic['sex'].fillna('male',inplace=True)
titanic['embarked'].fillna('S',inplace=True)
titanic['cabin'].fillna('A10',inplace=True)
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.338,B5,S,2,160,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,160,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.55,C22 C26,S,NaN,160,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.55,C22 C26,S,NaN,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.55,C22 C26,S,NaN,160,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,A10,C,NaN,328,NaN
1305,3,0,"Zabour, Miss. Thamine",female,29.0000,1,0,2665,14.4542,A10,C,NaN,160,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.225,A10,C,NaN,304,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.225,A10,C,NaN,160,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.875,A10,S,NaN,160,NaN

In [88]:
from sklearn import preprocessing
# create the Labelencoder object
le= preprocessing.LabelEncoder()
# convert the catrgorical column into numeric
encoded_value = le.fit_transform(titanic.sex)
print(encoded_value)
titanic['SCode']= le.fit_transform(titanic.sex)

[0 1 0 ... 1 1 1]

In [89]:
encoded_value= le.fit_transform(titanic.embarked)
print(encoded_value)
titanic['ECode']= le.fit_transform(titanic.embarked)
print(titanic)

[2 2 2 ... 0 0 2]
      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex      age  sibsp  parch  ticket     fare    cabin embarked boat  \
0     female  29.0000      0      0   24160  211.338       B5        S    2
1       male   0.9167      1      2  113781   151.55  C22 C26        S   11
2     female   2.0000      1      2  113781   151.55  C22 C26        S  NaN
3       male  30.0000      1      2  113781   151.55  C22 C26        S  NaN
4     female  25.0000      1      2  113781   151.55  C22 C26        S  NaN
...      ...      ...    ...    ...     ...      ...      ...      ...  ...
1304  female  14.5000      1      0    2665  14.4542      A10        C  NaN
1305  female  29.0000      1      0    2665  14.4542      A10        C  NaN
1306    male  26.5000      0      0    2656    7.225      A10        C  NaN
1307    male  27.0000      0      0    2670    7.225      A10        C  NaN
1308    male  29.0000      0      0  315082    7.875      A10        S  NaN

     body                        home.dest  SCode  ECode
0     160                     St Louis, MO      0      2
1     160  Montreal, PQ / Chesterville, ON      1      2
2     160  Montreal, PQ / Chesterville, ON      0      2
3     135  Montreal, PQ / Chesterville, ON      1      2
4     160  Montreal, PQ / Chesterville, ON      0      2
...   ...                              ...    ...    ...
1304  328                              NaN      0      0
1305  160                              NaN      0      0
1306  304                              NaN      1      0
1307  160                              NaN      1      0
1308  160                              NaN      1      2

[1309 rows x 16 columns]

In [90]:
#from sklearn import svm
#from sklearn import datasets
from sklearn.model_selection import train_test_split
x=pd.DataFrame(titanic[['pclass','age','sibsp','parch','fare','ECode','SCode']])
y=pd.DataFrame(titanic['survived'])
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [91]:
x_train.describe()

,pclass,age,sibsp,parch,ECode,SCode
count,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000
mean,2.297039,29.844874,0.524355,0.384909,1.515759,0.633238
std,0.841457,12.543435,1.095414,0.845572,0.801224,0.482151
min,1.000000,0.166700,0.000000,0.000000,0.000000,0.000000
25%,2.000000,23.000000,0.000000,0.000000,1.000000,0.000000
50%,3.000000,29.000000,0.000000,0.000000,2.000000,1.000000
75%,3.000000,35.000000,1.000000,0.000000,2.000000,1.000000
max,3.000000,74.000000,8.000000,9.000000,2.000000,1.000000

In [92]:
from sklearn.tree import DecisionTreeClassifier

In [93]:
x_train.head()

      pclass   age  sibsp  parch    fare  ECode  SCode
1118       3  25.0      0      0   7.925      2      1
44         1  41.0      0      0   134.5      0      0
1072       3  29.0      0      0  7.7333      1      1
1130       3  18.0      0      0   7.775      2      0
574        2  29.0      1      0      21      2      1

In [94]:
cla_dt=DecisionTreeClassifier()

In [95]:
cla_dt.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [96]:
print(cla_dt.score)

<bound method ClassifierMixin.score of DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')>

In [97]:
y_pred=cla_dt.predict(x_test)

In [98]:
#print('Test Score:{:.6f}'.format(np.mean(y_pred==y_test)))

In [99]:
from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

Test Accuracy:0.770992

In [100]:
Q1=22
Q2=29
Q3=35
iqr=Q3-Q1
print("iqr:",iqr)
lower_bound=Q1-(1.5*iqr)
print("lower mid bound:",lower_bound)
upper_bound=Q3+(1.5*iqr)
print("upper mid bound:",upper_bound)

iqr: 13
lower mid bound: 2.5
upper mid bound: 54.5

In [101]:
outlier_z=titanic[(titanic['age']<lower_bound)|(titanic['age']>upper_bound)].index
titanic=titanic.drop(outlier_z,axis=0).reset_index(drop=True)
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,SCode,ECode
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.338,B5,S,2,160,"St Louis, MO",0,2
1,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.55,C22 C26,S,NaN,135,"Montreal, PQ / Chesterville, ON",1,2
2,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.55,C22 C26,S,NaN,160,"Montreal, PQ / Chesterville, ON",0,2
3,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.55,E12,S,3,160,"New York, NY",1,2
4,1,0,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0,A36,S,NaN,160,"Belfast, NI",1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,A10,C,NaN,328,NaN,0,0
1204,3,0,"Zabour, Miss. Thamine",female,29.0,1,0,2665,14.4542,A10,C,NaN,160,NaN,0,0
1205,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,A10,C,NaN,304,NaN,1,0
1206,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.225,A10,C,NaN,160,NaN,1,0
1207,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.875,A10,S,NaN,160,NaN,1,2

In [102]:
from sklearn.model_selection import train_test_split
x=pd.DataFrame(titanic[['pclass','age','sibsp','parch','fare','ECode','SCode']])
y=pd.DataFrame(titanic['survived'])
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [103]:
cla_dt=DecisionTreeClassifier()
cla_dt.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [104]:
y_pred=cla_dt.predict(x_test)

In [105]:
from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

Test Accuracy:0.764463

In [106]:
from sklearn.model_selection import train_test_split
x=pd.DataFrame(titanic[['pclass','age','ECode','SCode']])
y=pd.DataFrame(titanic['survived'])
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [107]:
cla_dt=DecisionTreeClassifier()
cla_dt.fit(x_train,y_train)
y_pred=cla_dt.predict(x_test)

from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

Test Accuracy:0.768595

In [108]:
cla_dt=DecisionTreeClassifier(criterion='entropy',max_depth=3)
cla_dt.fit(x_train,y_train)
y_pred=cla_dt.predict(x_test)

from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

Test Accuracy:0.785124

In [109]:
cla_dt=DecisionTreeClassifier(criterion='entropy')
cla_dt.fit(x_train,y_train)
y_pred=cla_dt.predict(x_test)

from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

Test Accuracy:0.756198

In [110]:
cla_dt=DecisionTreeClassifier(criterion='entropy',max_depth=3,splitter='random')
cla_dt.fit(x_train,y_train)
y_pred=cla_dt.predict(x_test)

from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

Test Accuracy:0.780992

In [111]:
cla_dt=DecisionTreeClassifier(criterion='entropy',max_depth=3,splitter='best',min_samples_split=154)
cla_dt.fit(x_train,y_train)
y_pred=cla_dt.predict(x_test)

from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

Test Accuracy:0.780992

In [112]:
cla_dt=DecisionTreeClassifier(criterion='entropy',max_depth=3)
cla_dt.fit(x_train,y_train)
y_pred=cla_dt.predict(x_test)

from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

Test Accuracy:0.785124

In [113]:
cla_dt=DecisionTreeClassifier(criterion='entropy',max_depth=15)
cla_dt.fit(x_train,y_train)
y_pred=cla_dt.predict(x_test)

from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

Test Accuracy:0.764463

## 14 January 2020 - Random Forest

In [114]:
#Now using  Random forests on  complete traning data
from sklearn.ensemble import RandomForestClassifier
cla_forest = RandomForestClassifier(n_estimators = 100)
cla_forest.fit(x_train,y_train)

#Predict 
y_pred = cla_forest.predict(x_test)
print(y_pred)
y_test2 = [x for x in y_test['survived']]
print('Test Score:{:.6f}'.format(np.mean(y_pred== y_test2)))

from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test,y_pred)
print("Test Accuracy:{:.6f}".format(accur))

C:\Users\Asus 1\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

[1 1 0 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1
 1 0 0 1 0 0 1 1 1 1 0 0 0 0 0 1 0 0 0 1 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 1 1 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 0 0 0 1 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0
 0 0 0 0 1 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0]
Test Score:0.776860
Test Accuracy:0.776860

In [115]:
col_names = x_train.columns.tolist()
print(col_names)
features_imp =pd.Series(cla_forest.feature_importances_,index = col_names).sort_values(ascending = False)
features_imp

['pclass', 'age', 'ECode', 'SCode']

SCode     0.393663
age       0.387192
pclass    0.169293
ECode     0.049852
dtype: float64