In [124]:
#stemming of word

from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

ps = PorterStemmer()

#choose some words to be stemmed
words = ['Program','Programs','programer','programming','programers']

for w in words:
    print(w,':',ps.stem(w))

Program : program
Programs : program
programer : program
programming : program
programers : program

In [125]:
words = ['Alex','alexa','alexsis','','alexander']

for w in words:
    print(w,':',ps.stem(w))

Alex : alex
alexa : alexa
alexsis : alexsi
 :
alexander : alexand

In [126]:
#stemming of sentence
from nltk.tokenize import word_tokenize
ps = PorterStemmer()
sentence = "Programers program with programing langauage"
words = word_tokenize(sentence)

for w in words:
    print(w,':',ps.stem(w))

Programers : program
program : program
with : with
programing : program
langauage : langauag

In [127]:
#Lemmitization of word 
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

print('rocks :',lemmatizer.lemmatize('rocks'))
print('corpora :',lemmatizer.lemmatize('corpora'))

#a denotes adjective in 'pos'
print('better :',lemmatizer.lemmatize('better',pos = 'n'))
print('worst :',lemmatizer.lemmatize('worst',pos = 'a'))

rocks : rock
corpora : corpus
better : better
worst : bad

In [128]:
#Init the Wordnet Lemmatizer 
lemmatizer = WordNetLemmatizer()

#Lemmatize Single Word
print(lemmatizer.lemmatize('bats'))
print(lemmatizer.lemmatize('are'))
print(lemmatizer.lemmatize('feet'))
print(lemmatizer.lemmatize('children'))
print(lemmatizer.lemmatize('data'))

bat
are
foot
child
data

In [129]:
import nltk
#define the sentence to be lemmatized
sentence = 'The striped bats are  hanging on their feet for best'

# Tokenize : split the sentence into  words
word_list = nltk.word_tokenize(sentence)
print(word_list,'\n')

#Lemmatize list of words and join
lemmatized_output =' '.join([lemmatizer.lemmatize(w) for w in word_list])
print(lemmatized_output)

['The', 'striped', 'bats', 'are', 'hanging', 'on', 'their', 'feet', 'for', 'best']

The striped bat are hanging on their foot for best

In [130]:
#wordnet lemmatizer with appropraite POS tag
print(nltk.pos_tag(['feet'],'\n'))

print(nltk.pos_tag(nltk.word_tokenize(sentence)))

[('feet', 'UNK')]
[('The', 'DT'), ('striped', 'JJ'), ('bats', 'NNS'), ('are', 'VBP'), ('hanging', 'VBG'), ('on', 'IN'), ('their', 'PRP$'), ('feet', 'NNS'), ('for', 'IN'), ('best', 'JJS')]

In [131]:
#import nltk
#nltk.download('averaged_perceptron_tagger')

In [132]:
#NLP document similarity

#if this spacy is not running in your notebook then use google colab
#pip install spacy

import spacy

nlp =spacy.load('en_core_web_sm')
doc1 = nlp(u'Hello hi there!')
doc2 = nlp(u'Hello hi there!')
doc3 = nlp(u'Hey whatsup')

print(doc1.similarity(doc1))
print(doc1.similarity(doc2))
print(doc1.similarity(doc3))

1.0
1.0

C:\Users\Asus 1\Anaconda3\lib\runpy.py:193: ModelsWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  "__main__", mod_spec)

0.479642481898331

In [133]:
import gensim
from gensim import models
import numpy as np

document = ['This is the first line','This is the second sentence','This is third document third']

In [134]:
#Tokenize using nltk module
from nltk .tokenize import word_tokenize
gen_docs = [[w.lower() for w in word_tokenize(text)] for text  in document]
print(gen_docs)

[['this', 'is', 'the', 'first', 'line'], ['this', 'is', 'the', 'second', 'sentence'], ['this', 'is', 'third', 'document', 'third']]

In [135]:
dictionary =gensim.corpora.Dictionary(gen_docs)
dictionary.token2id

{'first': 0,
 'is': 1,
 'line': 2,
 'the': 3,
 'this': 4,
 'second': 5,
 'sentence': 6,
 'document': 7,
 'third': 8}

In [136]:
#dictionary.token2id
corpus = [dictionary.doc2bow(gen_doc) for gen_doc in gen_docs]
print(corpus)
print(gen_docs)

[[(0, 1), (1, 1), (2, 1), (3, 1), (4, 1)], [(1, 1), (3, 1), (4, 1), (5, 1), (6, 1)], [(1, 1), (4, 1), (7, 1), (8, 2)]]
[['this', 'is', 'the', 'first', 'line'], ['this', 'is', 'the', 'second', 'sentence'], ['this', 'is', 'third', 'document', 'third']]

In [137]:
tfidf = models.TfidfModel(corpus)
#show the TF-IDF weights

mydict = dictionary
for  doc in tfidf[corpus]:
    print([[mydict[id],np.around(freq,decimals= 2)]for id, freq in doc])

[['first', 0.68], ['line', 0.68], ['the', 0.25]]
[['the', 0.25], ['second', 0.68], ['sentence', 0.68]]
[['document', 0.45], ['third', 0.89]]

In [138]:
#deifne the documents 
doc_trump = 'Mr Trump became president after winning the polotical election Through the support'
doc_election = 'President Trump says Putin had no political interference is the election outcome'
doc_putin ='Post Election,Valdamir Putin became President of Russia. President Putin had served'
documents =[doc_trump,doc_election,doc_putin]

In [139]:
print(doc_putin)

Post Election,Valdamir Putin became President of Russia. President Putin had served

In [140]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

#create the document term matrix
Count_Vectorizer = CountVectorizer(stop_words ='english')
Count_Vectorizer = CountVectorizer()
sparse_matrix = Count_Vectorizer.fit_transform(documents)
print(sparse_matrix)

  (0, 6)	1
  (0, 21)	1
  (0, 1)	1
  (0, 13)	1
  (0, 0)	1
  (0, 23)	1
  (0, 19)	2
  (0, 11)	1
  (0, 2)	1
  (0, 20)	1
  (0, 18)	1
  (1, 21)	1
  (1, 13)	1
  (1, 19)	1
  (1, 2)	1
  (1, 16)	1
  (1, 14)	1
  (1, 3)	1
  (1, 7)	1
  (1, 10)	1
  (1, 4)	1
  (1, 5)	1
  (1, 9)	1
  (2, 1)	1
  (2, 13)	2
  (2, 2)	1
  (2, 14)	2
  (2, 3)	1
  (2, 12)	1
  (2, 22)	1
  (2, 8)	1
  (2, 15)	1
  (2, 17)	1

In [141]:
#OPTIONAL : Convert SPARSE MATRIX TO PANDAS DATAFRAME  IF YOU
doc_term_matrix =sparse_matrix.todense()
df = pd.DataFrame(doc_term_matrix,columns =Count_Vectorizer.get_feature_names(),index =['doc_trump','doc_election','doc_putin'])

In [142]:
df

,after,became,election,had,interference,is,mr,no,of,outcome,...,putin,russia,says,served,support,the,through,trump,valdamir,winning
doc_trump,1,1,1,0,0,0,1,0,0,0,...,0,0,0,0,1,2,1,1,0,1
doc_election,0,0,1,1,1,1,0,1,0,1,...,1,0,1,0,0,1,0,1,0,0
doc_putin,0,1,1,1,0,0,0,0,1,0,...,2,1,0,1,0,0,0,0,1,0

In [143]:
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity(df,df))

[[1.         0.38575837 0.26726124]
 [0.38575837 1.         0.4330127 ]
 [0.26726124 0.4330127  1.        ]]

In [144]:
#deifne the documents 
doc_trump = 'Mr Trump became president after winning the political election Through the support'
doc_election = 'President Trump says Putin had no political interference is the election outcome'
doc_putin ='Post Election,Valdamir Putin became President of Russia. President Putin had served'
doc_test = 'Post Election,Valdamir Alex became President of Russia. President ALex had served'
documents =[doc_trump,doc_election,doc_putin,doc_test]

In [145]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

#create the document term matrix
Count_Vectorizer = CountVectorizer(stop_words ='english')
Count_Vectorizer = CountVectorizer()
sparse_matrix = Count_Vectorizer.fit_transform(documents)
print(sparse_matrix)

  (0, 7)	1
  (0, 21)	1
  (0, 2)	1
  (0, 13)	1
  (0, 0)	1
  (0, 23)	1
  (0, 19)	2
  (0, 11)	1
  (0, 3)	1
  (0, 20)	1
  (0, 18)	1
  (1, 21)	1
  (1, 13)	1
  (1, 19)	1
  (1, 11)	1
  (1, 3)	1
  (1, 16)	1
  (1, 14)	1
  (1, 4)	1
  (1, 8)	1
  (1, 5)	1
  (1, 6)	1
  (1, 10)	1
  (2, 2)	1
  (2, 13)	2
  (2, 3)	1
  (2, 14)	2
  (2, 4)	1
  (2, 12)	1
  (2, 22)	1
  (2, 9)	1
  (2, 15)	1
  (2, 17)	1
  (3, 2)	1
  (3, 13)	2
  (3, 3)	1
  (3, 4)	1
  (3, 12)	1
  (3, 22)	1
  (3, 9)	1
  (3, 15)	1
  (3, 17)	1
  (3, 1)	2

In [146]:
#OPTIONAL : Convert SPARSE MATRIX TO PANDAS DATAFRAME  IF YOU
doc_term_matrix =sparse_matrix.todense()
df = pd.DataFrame(doc_term_matrix,columns =Count_Vectorizer.get_feature_names(),index =['doc_trump','doc_election','doc_putin','doc_test'])

In [147]:
df

,after,alex,became,election,had,interference,is,mr,no,of,...,putin,russia,says,served,support,the,through,trump,valdamir,winning
doc_trump,1,0,1,1,0,0,0,1,0,0,...,0,0,0,0,1,2,1,1,0,1
doc_election,0,0,0,1,1,1,1,0,1,0,...,1,0,1,0,0,1,0,1,0,0
doc_putin,0,0,1,1,1,0,0,0,0,1,...,2,1,0,1,0,0,0,0,1,0
doc_test,0,2,1,1,1,0,0,0,0,1,...,0,1,0,1,0,0,0,0,1,0

In [148]:
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity(df,df))

[[1.         0.46291005 0.26726124 0.26726124]
 [0.46291005 1.         0.4330127  0.28867513]
 [0.26726124 0.4330127  1.         0.75      ]
 [0.26726124 0.28867513 0.75       1.        ]]

In [149]:
#import nltk
#nltk.download('stopwords')

In [150]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [151]:
stop

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [152]:
#Removing Stop Words
print(doc_trump)
j = ''
for x in doc_trump.split():
    if x not in stop:
        j = j+x+' '
print('new out put is :',j)

Mr Trump became president after winning the political election Through the support
new out put is : Mr Trump became president winning political election Through support

In [153]:
doc1 = 'Ramu had eggs for breakfast'
doc2 = 'Today it is sunny out side'

print((doc1).split(' '))
print((doc2).split(' '))

print(len(str(doc1).split(' '))) # No of words
print(len(str(doc2).split(' ')))

print(len(doc1)) #No of Characters
print(len(doc2))

['Ramu', 'had', 'eggs', 'for', 'breakfast']
['Today', 'it', 'is', 'sunny', 'out', 'side']
5
6
27
26

In [154]:
import pandas as pd
#twitter = open('tweets_small01.txt', 'r')

In [155]:
#twitter.read()

In [156]:
#twitter.read() = twitter.read().apply(lambda x : len(str(x).split('')))

In [157]:
twitter = pd.read_csv('tweets_small01.txt')
twitter

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                       happy birth day your majesty
3   4      0   #model   i love u take with u all the time in ur
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0                 @user camping tomorrow @user danny
7   8      0  the next school year is the year for exams.can...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr8 !

In [158]:
#word count

twitter['word_count'] = twitter['tweet'].apply(lambda x : len(str(x).split(' ')))

In [159]:
twitter

   id  label                                              tweet  word_count
0   1      0   @user when a father is dysfunctional and is s...          20
1   2      0  @user @user thanks for #lyft credit i can't us...          19
2   3      0                       happy birth day your majesty           5
3   4      0   #model   i love u take with u all the time in ur          14
4   5      0             factsguide: society now    #motivation           8
5   6      0  [2/2] huge fan fare and big talking before the...          19
6   7      0                 @user camping tomorrow @user danny           6
7   8      0  the next school year is the year for exams.can...          12
8   9      0  we won!!! love the land!!! #allin #cavs #champ...          10
9  10      0   @user @user welcome here !  i'm   it's so #gr8 !          14

In [160]:
#Number of character count
doc3 = 'Hello how are you ?'
print(len(doc3))

19

In [161]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [162]:
#count of stop words
#y = 'you are a very good boy'

y = 'i had toast for break fast'
i = 0
for x in y.split():
    if x not in stop:
        i+=1
print('no of stop words :',i)

no of stop words : 3

In [163]:
#count of stop words
y = 'you are a very good boy'

#y = 'i had toast for break fast'
i = 0
for x in y.split():
    if x not in stop:
        i+=1
print('no of stop words :',i)

no of stop words : 2

In [164]:
#no of special characters

y = 'I am @home in Mumbai'
i = 0
for x in y.split():
    if x.startswith('@'):
        i+=1
print('no of special characters :',i)

no of special characters : 1

In [165]:
twitter2 = open('tweets_small01.txt', 'r')
y = twitter2.read()
print(y)

id,label,tweet
1,0, @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.
2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.
3,0,happy birth day your majesty
4,0,#model   i love u take with u all the time in ur
5,0, factsguide: society now    #motivation
6,0,[2/2] huge fan fare and big talking before they leave. chaos and pay disputes when they get there
7,0, @user camping tomorrow @user danny
8,0,the next school year is the year for exams.can't think about that
9,0,we won!!! love the land!!! #allin #cavs #champions #cleveland #clevelandcavaliers
10,0, @user @user welcome here !  i'm   it's so #gr8 !

In [166]:
i = 0
for x in y:
    if x.startswith('#') or x.startswith('@'):
        i+=1
print('no of special characters :',i)

no of special characters : 16

In [167]:
#no of digits
y = 'I am @home 12 yrs old. my rollno is 505'
i = 0
for x in y.split():
    if x.isdigit():
        i+=1
print('no of digits :',i)

no of digits : 2

In [168]:
#no of upper characters

y = 'I am @home 12 yrs old. my rollno is 505'
i = 0
for x in y.split():
    if x.isupper():
        i+=1
print('no of uppercase characters :',i)

no of uppercase characters : 1

In [169]:
#no of uppercase characters

y = 'I am @home 12 yrs old. my ROLL NO is 505'
i = 0
for x in y.split():
    if x.isupper():
        i+=1
print('no of uppercase characters :',i)

no of uppercase characters : 3

In [170]:
#no of lowercase characters

y = 'I am @home 12 yrs old. my ROLL NO is 505'
i = 0
for x in y.split():
    if x[0].islower():
        i+=1
print('no of characters starting with lowercase letters :',i)

no of characters starting with lowercase letters : 5

In [171]:
#convert to lower case
y = 'I live in Pune and Eat Mango'
i = ' '
for x in y.split():
    i = i + x.lower() + ' '
print('Sentence in LowerCase :',i)

Sentence in LowerCase :  i live in pune and eat mango

In [172]:
#removing special characters

import re
y = 'we @pune are #1 &and 88 happy !! people.'
y = re.sub(r'[^\w\s]','',y)
print(y)

we pune are 1 and 88 happy  people

In [173]:
#convert text tolower and Remove stop words

y = 'I live in Pune and Eat Mango'
i = ' '

for x in y.split():
    if x not in stop:
        i = (i+x+' ').lower() + ' '
    
print('lower and stop Words Removed :',i)

lower and stop Words Removed :  i  live  pune  eat  mango

In [174]:
twitter = pd.read_csv('tweets_small01.txt')
twitter

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                       happy birth day your majesty
3   4      0   #model   i love u take with u all the time in ur
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0                 @user camping tomorrow @user danny
7   8      0  the next school year is the year for exams.can...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr8 !

In [175]:
#word count

twitter['word_count'] = twitter['tweet'].apply(lambda x : len(str(x).split(' ')))
twitter

   id  label                                              tweet  word_count
0   1      0   @user when a father is dysfunctional and is s...          20
1   2      0  @user @user thanks for #lyft credit i can't us...          19
2   3      0                       happy birth day your majesty           5
3   4      0   #model   i love u take with u all the time in ur          14
4   5      0             factsguide: society now    #motivation           8
5   6      0  [2/2] huge fan fare and big talking before the...          19
6   7      0                 @user camping tomorrow @user danny           6
7   8      0  the next school year is the year for exams.can...          12
8   9      0  we won!!! love the land!!! #allin #cavs #champ...          10
9  10      0   @user @user welcome here !  i'm   it's so #gr8 !          14

In [176]:
from nltk.corpus import stopwords
stop = stopwords.words('english')


def st_w(j):
    data = dict()
    data['sw'] = j
    print (data)
    return data

sw= pd.DataFrame([],columns = ['sw'])  
for i in range(0,len(twitter['tweet'])):
    j = '' 
    for x in twitter['tweet'][i].split():
        if x not in stop:
            j = j+x+' '
 #   print(j)    
    sw= sw.append(st_w(j),ignore_index = True)

{'sw': '@user father dysfunctional selfish drags kids dysfunction. '}
{'sw': "@user @user thanks #lyft credit can't use cause offer wheelchair vans pdx. "}
{'sw': 'happy birth day majesty '}
{'sw': '#model love u take u time ur '}
{'sw': 'factsguide: society #motivation '}
{'sw': '[2/2] huge fan fare big talking leave. chaos pay disputes get '}
{'sw': '@user camping tomorrow @user danny '}
{'sw': "next school year year exams.can't think "}
{'sw': 'won!!! love land!!! #allin #cavs #champions #cleveland #clevelandcavaliers '}
{'sw': "@user @user welcome ! i'm #gr8 ! "}

In [177]:
sw

                                                  sw
0  @user father dysfunctional selfish drags kids ...
1  @user @user thanks #lyft credit can't use caus...
2                           happy birth day majesty
3                      #model love u take u time ur
4                   factsguide: society #motivation
5  [2/2] huge fan fare big talking leave. chaos p...
6                @user camping tomorrow @user danny
7           next school year year exams.can't think
8  won!!! love land!!! #allin #cavs #champions #c...
9                  @user @user welcome ! i'm #gr8 !

In [178]:
twitter['removed_stop_words'] = pd.Series(sw['sw'])
twitter

,id,label,tweet,word_count,removed_stop_words
0,1,0,@user when a father is dysfunctional and is s...,20,@user father dysfunctional selfish drags kids ...
1,2,0,@user @user thanks for #lyft credit i can't us...,19,@user @user thanks #lyft credit can't use caus...
2,3,0,happy birth day your majesty,5,happy birth day majesty
3,4,0,#model i love u take with u all the time in ur,14,#model love u take u time ur
4,5,0,factsguide: society now #motivation,8,factsguide: society #motivation
5,6,0,[2/2] huge fan fare and big talking before the...,19,[2/2] huge fan fare big talking leave. chaos p...
6,7,0,@user camping tomorrow @user danny,6,@user camping tomorrow @user danny
7,8,0,the next school year is the year for exams.can...,12,next school year year exams.can't think
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,10,won!!! love land!!! #allin #cavs #champions #c...
9,10,0,@user @user welcome here ! i'm it's so #gr8 !,14,@user @user welcome ! i'm #gr8 !

In [179]:
twitter['r_word_count'] = twitter['removed_stop_words'].apply(lambda x : len(str(x).split(' ')))
twitter

,id,label,tweet,word_count,removed_stop_words,r_word_count
0,1,0,@user when a father is dysfunctional and is s...,20,@user father dysfunctional selfish drags kids ...,8
1,2,0,@user @user thanks for #lyft credit i can't us...,19,@user @user thanks #lyft credit can't use caus...,13
2,3,0,happy birth day your majesty,5,happy birth day majesty,5
3,4,0,#model i love u take with u all the time in ur,14,#model love u take u time ur,8
4,5,0,factsguide: society now #motivation,8,factsguide: society #motivation,4
5,6,0,[2/2] huge fan fare and big talking before the...,19,[2/2] huge fan fare big talking leave. chaos p...,12
6,7,0,@user camping tomorrow @user danny,6,@user camping tomorrow @user danny,6
7,8,0,the next school year is the year for exams.can...,12,next school year year exams.can't think,7
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,10,won!!! love land!!! #allin #cavs #champions #c...,9
9,10,0,@user @user welcome here ! i'm it's so #gr8 !,14,@user @user welcome ! i'm #gr8 !,8

In [181]:
twitter

,id,label,tweet,word_count,removed_stop_words,r_word_count
0,1,0,@user when a father is dysfunctional and is s...,20,@user father dysfunctional selfish drags kids ...,8
1,2,0,@user @user thanks for #lyft credit i can't us...,19,@user @user thanks #lyft credit can't use caus...,13
2,3,0,happy birth day your majesty,5,happy birth day majesty,5
3,4,0,#model i love u take with u all the time in ur,14,#model love u take u time ur,8
4,5,0,factsguide: society now #motivation,8,factsguide: society #motivation,4
5,6,0,[2/2] huge fan fare and big talking before the...,19,[2/2] huge fan fare big talking leave. chaos p...,12
6,7,0,@user camping tomorrow @user danny,6,@user camping tomorrow @user danny,6
7,8,0,the next school year is the year for exams.can...,12,next school year year exams.can't think,7
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,10,won!!! love land!!! #allin #cavs #champions #c...,9
9,10,0,@user @user welcome here ! i'm it's so #gr8 !,14,@user @user welcome ! i'm #gr8 !,8

In [182]:
#removing special characters

import re
#y = 'we @pune are #1 &and 88 happy !! people.'
#y = re.sub(r'[^\w\s]','',y)
#print(y)

twitter['remove_special_char'] = twitter['removed_stop_words'].apply(lambda x : re.sub(r'[^\w\s]','',x))
twitter

,id,label,tweet,word_count,removed_stop_words,r_word_count,remove_special_char
0,1,0,@user when a father is dysfunctional and is s...,20,@user father dysfunctional selfish drags kids ...,8,user father dysfunctional selfish drags kids d...
1,2,0,@user @user thanks for #lyft credit i can't us...,19,@user @user thanks #lyft credit can't use caus...,13,user user thanks lyft credit cant use cause of...
2,3,0,happy birth day your majesty,5,happy birth day majesty,5,happy birth day majesty
3,4,0,#model i love u take with u all the time in ur,14,#model love u take u time ur,8,model love u take u time ur
4,5,0,factsguide: society now #motivation,8,factsguide: society #motivation,4,factsguide society motivation
5,6,0,[2/2] huge fan fare and big talking before the...,19,[2/2] huge fan fare big talking leave. chaos p...,12,22 huge fan fare big talking leave chaos pay d...
6,7,0,@user camping tomorrow @user danny,6,@user camping tomorrow @user danny,6,user camping tomorrow user danny
7,8,0,the next school year is the year for exams.can...,12,next school year year exams.can't think,7,next school year year examscant think
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,10,won!!! love land!!! #allin #cavs #champions #c...,9,won love land allin cavs champions cleveland c...
9,10,0,@user @user welcome here ! i'm it's so #gr8 !,14,@user @user welcome ! i'm #gr8 !,8,user user welcome im gr8